/* son.css */

#nav-box{
    position:absolute;
    z-index:9999;
    top:0;
    left:0;
}

.player-control{
    font-size: 13pt;
    font-family: monospace;
    font-weight: bold;
    padding: 0 4pt;
    line-height: 20pt;
    border: 1px solid #AAA;
    margin: 6px;
    cursor: pointer;
    box-shadow: 1px 2px 2px #888;
    height: 18pt;
    background-color: #EEF;
}

.player-control:hover{
    box-shadow: 1px 1px 1px #766;
   /* padding: 0 3pt;
    line-height: 19pt;
    height: 17pt;*/
    
}

.son-item:hover{
    cursor:pointer;
    
}


#composition-box{
    position:absolute;
    z-index:9999;
    top:3px;
    right:3px;
    width:48px;
    padding:3px;
/*     border: 1px solid #111; */
}

.composition-item{
   box-shadow: 1px 1px 1px #766;
    margin: 5px 0;
    border: 1px solid #BBB;
}

.composition-item:hover{
    cursor:pointer;
}
