/* son.css */

@font-face{
	font-family:reglo;
	src:url('reglo.ttf');
}

@font-face{
	font-family:radley;
	src:url('Radley-Italic.ttf');
}


*{
	margin:0;
	padding:0;
	border:none;
}

#nav-box{
    position:absolute;
    z-index:9999;
    top:0;
    left:0;
	font-family:reglo;
}

.player-control{
	font-family:reglo;
    font-size: 18pt;
/*     font-family: monospace; */
    font-weight: bold;
    padding: 0 4pt;
    line-height: 20pt;
    border: 1px solid #AAA;
    margin: 6px;
    cursor: pointer;
    box-shadow: 1px 2px 2px #888;
    height: 18pt;
    background-color: #EEF;
}

#player-pause{background-color:#f45}
#player-play{background-color:#54f}

.player-control:hover{
    box-shadow: 1px 1px 1px #766;
    
}

.son-item:hover{
    cursor:pointer;
    
}


#composition-box{
	font-family:reglo;
	position:absolute;
	z-index:9999;
	bottom: 3px;
	left: 3px;
	height: 36px;
	padding:3px;
/*     border: 1px solid #111; */
}

#composition-list-box{
	
	vertical-align:bottom;
}

.composition-item{
   box-shadow: 1px 1px 1px #766;
    
   margin: 0 5px;
    border: 1px solid #BBB;
   display: inline-block;
}

.composition-item:hover{
    cursor:pointer;
    box-shadow: none;
}


#composition-share{
	font-family:reglo;
    cursor:pointer;
    font-size:16pt;
    text-align:center;
    padding:6px 0;
    box-shadow: 1px 1px 1px #766;
    margin: 5px 0;
    border: 1px solid #BBB;
    background-color:#eee;
}

#composition-share:hover{
    box-shadow: none;
}

#info-box{
	position:absolute;
	z-index:9999;
	top: 3px;
	left: 0;
	width: 100%;
	height: 89px;
	border-bottom: 1px solid #ccc;
	background-color: #fff;
}

.info-item{
	/*display:inline-block;
	font-family:serif;
	vertical-align:top;
	margin: 0 1px;
	padding:3px 5px;*/
	
/*     border: 1px solid #BBB; */
/* 	 box-shadow: 1px 2px 2px #766; */

}

/*.info-title{
	width:200px;
	font-size:32pt;
	line-height:32pt;
	font-style:italic;
}*/

#info-subtitle{
	font-family:radley;
	position:absolute;
	top:0;
	left:500px;
	font-size: 15.5pt;
	line-height: 17.5pt;
	width:620px;
}

.info-descurl{
}

.info-descurl a{
	font-family:reglo;
	text-decoration:none;
	color:#111;
}

.info-item:hover{
/*     box-shadow: 1px 1px 1px #766; */
}


#share_widget{
	font-family:reglo;
	position:relative;
	top:12px;
	margin:auto;
	z-index:9999999;
	padding:20px;
	box-shadow: 1px 2px 2px #766;
	background-color:#fff;
	border:1px solid #888;
	width:432px;
	
}

#share_widget h4{
	font-family:reglo;
    margin-top:36px;
    font-size:28pt;
}

#share_close_widget{
	font-family:reglo;
    position:absolute;
    top:6px;
    right:6px;
    font-family:monospace;
    font-size:8pt;
    border:1px solid #888;
    padding:4px 4px 2px 4px;
    background-color:blue;
    cursor:pointer;
}

#share_close_widget:hover{
	font-family:reglo;
    color:#fff;
}

#share_input_name{
	font-family:reglo;
    border:3px solid #eee;
    width:100%;
    margin:12px 0;
    font-size:22pt;
    font-family:sans-serif;
    color:#666;
}

#share_submit_button{
	font-family:reglo;
    position:relative;
    width:46pt;
    background-color:red;
    text-align:center;
    border:1px solid #888;
    font-size:18pt;
    padding:4px 4px 2px 4px;
    margin:32px auto; 
    cursor:pointer;
}

#share_submit_button:hover{
    color:#fff;
}

.composition-link{
	font-family:reglo;
	font-size:14pt;
	text-align:center;
}

.text-body{
	width:511px;
	margin:32px auto 32px 32px;
}

#title-box{
	
	font-family:sans-serif;
	font-size:21pt;
	margin-bottom:1em;
}

div.section-title{
	font-family:sans-serif;
	font-size:14pt;
	font-weight:bold;
	margin:2.2em 0 .6em 0;
}


div.par{
	font-family:serif;
	font-size:11pt;
	margin:.4em 0;
}

div.sub-section{
/* 	padding-left:1em; */
	text-indent:1em;
	font-family:serif;
	font-size:11pt;
/* 	margin-bottom:.4em; */
}

#nav-box{
	display:none;
}

#composition-share-box{
	display:none;
}


.logo{
	width:72px;
}
