<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"> 
<head> 
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>lisongeste</title>
<script>
var son_placeholder = '{{ MEDIA_URL }}placeholder.png';
var son_player_image = undefined;
var jplayerswf = '{{ MEDIA_URL }}js/jplayer/Jplayer.swf';

{% if comp %}
// composition
var son_composition = new Array(); {% for c in comp %} son_composition.push({{c}}); {% endfor %}
{% endif %}
</script>

<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}son.css" />
<script src="{{ MEDIA_URL }}js/jquery.js"></script>
<script src="{{ MEDIA_URL }}js/jplayer/jquery.jplayer.js"></script>

<script src="{{ MEDIA_URL }}js/songeom.js"></script>
<script src="{{ MEDIA_URL }}js/songeste2.js"></script>



</head>
<body>
    <div id="nav-box">
    <div class="player-control" id="player-play">
    PLAY
    </div>
    <div class="player-control" id="player-pause">
    PAUSE
    </div>
    </div>
    <div id="info-box">
    <img id="songeste-title" src="{{ MEDIA_URL }}lis-son-geste.png" />
<!--     <span class="info-item info-title">Lis son geste</span> -->
    <div id="info-subtitle">
	Rencontres intergénérationnelles autour d'ateliers de découverte sonore et graphique par l’exploration des espaces et entourages immédiats au travers de trois thématiques progressives: la ville, la maison et le corps. { <a href="{{ MEDIA_URL }}info.html">en savoir plus</a> }
<!-- 	<p>Les participants sont des personnes âgées de la maison de repos Harscamp et des jeunes du mouvement Luttes Solidarités Travail Namur. /<a href="{{ MEDIA_URL }}info.html">en savoir plus</a>/</p> -->

    </div>
<!--     <span class="info-item"><a href="{{ MEDIA_URL }}contact.html">contact</a></span> -->
<!--     <span class="info-item"><a href="{{ MEDIA_URL }}credit.html">credits</a></span> -->
    </div>
</body>
</html>