<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"> 
<head> 
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>songeste</title>
<script>
var son_placeholder = '{{ MEDIA_URL }}placeholder.png';
var son_player_image = undefined;
var jplayerswf = '{{ MEDIA_URL }}js/jplayer/Jplayer.swf';
</script>
<script src="{{ MEDIA_URL }}js/jquery.js"></script>
<script src="{{ MEDIA_URL }}js/jplayer/jquery.jplayer.min.js"></script>
<!-- <script src="{{ MEDIA_URL }}js/paper.js"></script> -->
<script src="http://localhost/~pierre/paper.js/lib/prepro.js"></script>
<script src="http://localhost/~pierre/paper.js/src/load.js"></script>
<script src="{{ MEDIA_URL }}js/songeste.js"></script>

</head>
<body>

</body>
</html>